<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Event_form_edit" 
        service="Event" 
        entity="Event" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="event_id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #event_date attr="event_date" type="timestamp" label="event_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-text-input #description attr="description" label="description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #event_id attr="event_id" label="event_id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="RESERVATION-event_id">
    <div layout-padding>
      <o-table 
        attr="ReservationTable" 
        service="Reservation" 
        entity="Reservation" 
        keys="reservation_id"
        parent-keys="event_id:event_id"
        columns="reservation_id;event_id;visitor_id;reservation_time"  
        horizontal-scroll="yes"
        detail-form-route="Reservation" 
        edit-form-route="Reservation"
        visible-columns="reservation_id;event_id;visitor_id;reservation_time"  
        sort-columns="reservation_id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #reservation_id attr="reservation_id" title=" reservation_id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="event_id" title="event_id">
    <o-table-cell-renderer-service attr="event_id" 
        service="Event" entity="EventType" columns="event_id;name"
        parent-keys="event_id:event_id"
        value-column="name" keys="event_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="visitor_id" title="visitor_id">
    <o-table-cell-renderer-service attr="visitor_id" 
        service="Visitor" entity="VisitorType" columns="visitor_id;name"
        parent-keys="event_id:visitor_id"
        value-column="name" keys="visitor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #reservation_time attr="reservation_time" title="reservation_time" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>