<o-form #ReservationForm attr="Reservation_form_insert" service="Reservation" entity="Reservation" 
keys="reservation_id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-integer-input #reservation_id attr="reservation_id" label=" reservation_id*" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-list-picker 
        attr="event_id"
        service="Event" 
        entity="EventType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="event_id" 
        value-column-type="INTEGER"  
        keys="event_id" 
        columns="event_id;event_id;name" 
        title="event_id"
        visible-columns="event_id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-list-picker 
        attr="visitor_id"
        service="Visitor" 
        entity="VisitorType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="visitor_id" 
        value-column-type="INTEGER"  
        keys="visitor_id" 
        columns="visitor_id;visitor_id;name" 
        title="visitor_id"
        visible-columns="visitor_id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #reservation_time attr="reservation_time" type="timestamp" label="reservation_time" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>